{% extends 'base.html.twig' %}

{% block title %}
  Mes produits
{% endblock %}

{% block body %}
Ajout d'un nouveau produit
<form action="" method="post">
  <input type="text" name="ref" value="">
  <input type="submit" value="Ajouter">
</form>

<br />
<a href="/products">Retour à la liste</a>
{% endblock %}
