{% extends 'base.html.twig' %}

{% block title %}
  Supprimer un produit
{% endblock %}

{% block body %}
<div id="content">
  <div>
    <h1>Etes-vous sur de vouloir supprimer le produit #{{product.getId()}}</h1>
    <br />
    <form action="" method="post">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" name="valid" value="Oui" />
      <a href="/products">
        <input type="button" name="valid" value="Non" />
      </a>
    </form>
  </div>
</div>
{% endblock %}
