{% extends 'base.html.twig' %}

{% block title %}
  Mes produits
{% endblock %}

{% block body %}
Modification du produit #{{product['id']}}
<form action="" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="ref" value="{{product['reference']}}">
  <input type="submit" value="Modifier">
</form>

<br />
<a href="/products">Retour à la liste</a>
{% endblock %}
