{% extends 'base.html.twig' %}

{% block title %}
  Mes produits
{% endblock %}

{% block body %}
  <div>
    ID : {{product['id']}} = {{product['reference']}}
    |
    <a href="/products/edit/{{product['id']}}">Editer le produit</a>
    |
    <a href="/products/delete/{{product['id']}}">Supprimer le produit</a>
  </div>

  <br />
  <a href="/products">Retour à la liste</a>
{% endblock %}
